# Built stuff
bin/*
build/*
.vs/
Win32/
becoming_portland.dir/
becoming_portland

# Temp vim files
*.swp
*.swo

# Editor things
compile_commands.json
.vscode


# Vendor stuff
vendor/mingw-*/*

# CMake Things
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# Logs
log.txt
portland.log

# Save files
*.save
